<a href="https://colab.research.google.com/github/689itzjack/Data-Science/blob/main/Ex_Pandas_sol_Shiur3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ABRIMOS EL ARCHIVO DESDE GOOGLE DRIVE**

In [2]:
from google.colab import drive
drive.mount('/content/gdrive') # DAMOS PERMISO PARA CONECTARNOS CON EL DRIVE
import pandas as pd # UTILIZAMOS LA LIBRERIA PANDAS POR MEDIO DE PD

Mounted at /content/gdrive

In [3]:
mutations_file = '/content/gdrive/My Drive/Introduction to Data Science/s2Mutations.csv'
df_mutations = pd.read_csv(mutations_file, 
                           usecols=['Source', 'Chr', 'Position', 'Ref', 
                                    'Alt', 'Group', 'Type', 'Strand',
                                    'Splice site', 'Distance',
                                    'PWM_ref', 'PWM_alt'] )
df_mutations

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,PWM_ref,PWM_alt
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,79.0324,84.5457
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,75.0799,71.7653
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,77.0336,75.2237
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,72.4559,72.4559
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
2954,HGMD,X,154221211,C,G,Positive,Exonic,-,5',-1,99.6933,86.3823
2955,SDisease,X,154225243,C,A,Positive,Intronic,-,5',5,86.3702,73.9775
2956,SDisease,X,154225243,C,G,Positive,Intronic,-,5',5,86.3702,73.6742
2957,SDisease,X,154227878,G,A,Positive,Intronic,-,3',-3,86.7436,80.5669
2958,SDisease,X,154227880,G,C,Positive,Intronic,-,3',-5,86.7436,0.0000

UNIMOS EL ARCHIVO DE LA TABLA EXCEL CON NUESTRO CODIGO, DESPUES LA TABLA OBTENIDA EN LA VARIABLE mutations_file LA RECORTAMOS A SOLO ALAS COLUMNAS QUE NECESITAMOS.

In [4]:
# Print some details for debugging and making sure that it worked:
print('Columns: ', df_mutations.columns) # IMPRIME LAS COLUMNAS QUE HEMOS RECORTADO
print('Number of rows: ', len(df_mutations)) #IMPRIME NUMERO DE HILERAS DE LA TABLA QUE TENEMOS
print('Shape: ', df_mutations.shape) # IMPRIME NUMERO DE HILERAS Y COLUMNAS DE LA TABLA QUE RECORTAMOS EN UN TUPLE
df_mutations.head() # IMPRIME LAS PRIMERAS HILERAS DE LA TABLA POR DEFAULT

Columns:  Index(['Source', 'Chr', 'Position', 'Ref', 'Alt', 'Group', 'Type', 'Strand',
       'Splice site', 'Distance', 'PWM_ref', 'PWM_alt'],
      dtype='object')
Number of rows:  2959
Shape:  (2959, 12)

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,PWM_ref,PWM_alt
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,79.0324,84.5457
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,75.0799,71.7653
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,77.0336,75.2237
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,72.4559,72.4559
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,0.0000,0.0000

# **OPERACIONES CON COLUMNAS**

**1. CREAR UNA COLUMNA NUEVA EN BASE A OTRA, MULTIPLICANDO EL RESULTADO DE LA COLUMNA A COPIIAR**

In [10]:
df_mutations['PWM_ref_mult'] = df_mutations['PWM_ref'].apply(lambda x: x * 2)
# looking on the relevant columns, to check ourselves:
df_mutations[['PWM_ref', 'PWM_ref_mult']].head()

   PWM_ref  PWM_ref_mult
0  79.0324      158.0648
1  75.0799      150.1598
2  77.0336      154.0672
3  72.4559      144.9118
4   0.0000        0.0000

EN EL CODIGO DE ARRIBA CREAMOS UNA NUEVA COLUMNA CON EL NOMBRE 'PWM_ref_mult' Y LE METIOMOS A CADA CASILLA DE ELLA LA DATA QUE TIENE LA COLUMNA (TAMBN CASILLA POR CASILLA) 'PWM_ref' MULTIPLICANDOLA POR 2. DESPUES IMPRIMIMOS LAS PRIMERAS CASILLAS POR DEFAULT DE ESAS 2 COLUMNAS.

***NOTA: LA FUNCION LAMBDA ES COMO UN ITERATOR, QUE PASA POR CADA UNA DE LAS CASILLAS DE LA COLUMNA QUE LA ACTIVA APLICANDO EN DICHA COLUMNA UNA OPERACION PARA GUARDARLA EN LA COLUMNA NUEVA EL RESULTADO DE LA OPERACION.***

**2. RESTAR DOS TABLAS PONIENDO EL RESULTADO EN UNA COLUMNA NUEVA**

In [11]:
df_mutations['diff_ref_alt'] = df_mutations['PWM_ref'] - df_mutations['PWM_alt'] # RESTANDO LAS COLUMNAS 'PWM_ref'-'PWM_alt'
df_mutations[['PWM_ref', 'PWM_alt', 'diff_ref_alt']].head()

   PWM_ref  PWM_alt  diff_ref_alt
0  79.0324  84.5457       -5.5133
1  75.0799  71.7653        3.3146
2  77.0336  75.2237        1.8099
3  72.4559  72.4559        0.0000
4   0.0000   0.0000        0.0000

EN EL CODIGO DE  ARRIBA RESTANDO LAS COLUMNAS 'PWM_ref' - 'PWM_alt' Y PONIENDO EL RESULTADO EN LA COLUMNA NUEVA diff_ref_alt.
DESPES IMPRIMIMOS DICHAS COLUMNAS. 

LA RESTA SE EFECTUA CADA CASILLA DE UNA COLUMNA CON CADA CASILLA DE LA OTRA COLUMNA.

**3. DIVISION ENTRE 2 COLUMNAS PONIENDO EL RESULTADO EN UNA NUEVA. HAY VECES QUE LA LLAMAN EL YAJAS ENTRE 2 COLUMNAS.**

In [12]:
df_mutations['ratio_ref_alt'] = df_mutations['PWM_ref'] / df_mutations['PWM_alt']
df_mutations.head(10)

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,PWM_ref,PWM_alt,PWM_ref_mult,diff_ref_alt,ratio_ref_alt
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,79.0324,84.5457,158.0648,-5.5133,0.934789
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,75.0799,71.7653,150.1598,3.3146,1.046187
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,77.0336,75.2237,154.0672,1.8099,1.024060
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,72.4559,72.4559,144.9118,0.0000,1.000000
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,0.0000,0.0000,0.0000,0.0000,NaN
5,1000G,1,3395174,C,A,Negative,Exonic,+,5',-3,77.7282,77.4215,155.4564,0.3067,1.003961
6,1000G,1,3761465,T,A,Negative,Intronic,-,5',6,94.6711,100.0000,189.3422,-5.3289,0.946711
7,1000G,1,3806643,T,A,Negative,Intronic,-,3',-6,78.5868,81.6356,157.1736,-3.0488,0.962654
8,1000G,1,6204222,C,G,Negative,Intronic,-,3',-7,77.4417,80.8566,154.8834,-3.4149,0.957766
9,1000G,1,7737651,G,A,Negative,Intronic,+,3',-8,85.5192,85.5192,171.0384,0.0000,1.000000

EL CODIGO DE ARRIBA ES LA MISMA EXPLICACION QUE LAS OPERACIONES DE ARRIBA PERO LA OPERACION ES LA DIVISION

**Part 5:** Count how many rows have ratio_ref_alt > 1 and how many have ratio_ref_alt <=1. What about the  rest of the rows?

In [13]:
# Fetching rows with ratio > 1:
df_greater_1_ratio = df_mutations.loc[df_mutations['ratio_ref_alt'] > 1, :] # df_greater_1_ratio CONTIENE LAS HILERAS QUE CUPLIERON LA CONDICION
num_greater = len(df_greater_1_ratio)
num_greater

1687

el codigo de arriba quiere decir:
df_mutations.loc[df_mutations['ratio_ref_alt'] > 1, :] TOMAMOS TODAS LA HILERAS ' : ' Y SOLO TOMAMOS AQUELLAS QUE SU 'ratio_ref_alt' ES MAYOR A 1.
DESPUES IMPRIMIMOS CUANTAS HILERAS CUMPLIERON CON DICHA CONDICION.

In [14]:
# Fetching rows with ratio <= 1:
df_less_1_ratio = df_mutations.loc[df_mutations['ratio_ref_alt'] <= 1, :] # df_less_1_ratio CONTIENE LAS HILERAS QUE CUPLIERON LA CONDICION
num_less = len(df_less_1_ratio)
num_less

1199

EL CODIGO DE ARRIBA ES LO MISMO QUE EL ANTERIOR PERO CON LA CONDICION MENOR O IGUAL A 1.

# **COMPROBANDO SI LAS TABLAS DE LA INFORMACION ADQUIRIDA CUMPLIERON CON LOS REQUISITOS**

In [15]:
# assert(num_greater + num_less == len(df_mutations))
print(len(df_mutations) - num_greater - num_less) # RESTAMOS EL TOTAL DE TODAS LAS HILERAS DE LA TABLA Y LES RESTAMOS LOS RESULTADO DE LAS TABLAS OBTENIDAS

73

PODEMOS VER QUE LA RESTA DE ARRIBA NO ES 0, OSEA QUE TAL VEZ HAY HILERAS DE LA MISMA COLUMNA QUE CONTIENEN OTRO TIPO DE DATO

In [16]:
df_mutations

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,PWM_ref,PWM_alt,PWM_ref_mult,diff_ref_alt,ratio_ref_alt
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,79.0324,84.5457,158.0648,-5.5133,0.934789
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,75.0799,71.7653,150.1598,3.3146,1.046187
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,77.0336,75.2237,154.0672,1.8099,1.024060
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,72.4559,72.4559,144.9118,0.0000,1.000000
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,0.0000,0.0000,0.0000,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2954,HGMD,X,154221211,C,G,Positive,Exonic,-,5',-1,99.6933,86.3823,199.3866,13.3110,1.154094
2955,SDisease,X,154225243,C,A,Positive,Intronic,-,5',5,86.3702,73.9775,172.7404,12.3927,1.167520
2956,SDisease,X,154225243,C,G,Positive,Intronic,-,5',5,86.3702,73.6742,172.7404,12.6960,1.172326
2957,SDisease,X,154227878,G,A,Positive,Intronic,-,3',-3,86.7436,80.5669,173.4872,6.1767,1.076665
2958,SDisease,X,154227880,G,C,Positive,Intronic,-,3',-5,86.7436,0.0000,173.4872,86.7436,inf

en el indice 4 HAY UN VALOR NAN DE LA COLUMNA 'ratio_ref_alt' POR ESO EL RESULTADO NO DA 0, ENTONCES VAMOS A ADQUIRIR TODAS LAA HILERAS QUE CONTIENEN NAN DE LA COLUMNA 'ratio_ref_alt'.

In [17]:
# Fetching rows having a NaN value (more about that - below)
num_nan = len(df_mutations.loc[df_mutations['ratio_ref_alt'].isnull(), :]) # ':' SIGNIFICA TODAS LAS HILERAS DE LA TABLA, ESTE COMM OBTIENE LAS HIELRAS NAN
num_nan

73

In [18]:
# Sanity check: cheking that we covered all of the cases, and found all of the rows
assert(num_greater + num_less + num_nan == len(df_mutations)) # SE CAE EL PROGRAMA SI EL ASSERT NO PASA DEACUERDO ALA CONDICION
print(num_greater + num_less + num_nan, len(df_mutations))

2959 2959

# **RETOS DEL EJERCICIO**

**Part 6 (i):** Count how many rows have ratio_ref_alt > 1 and the "Group" value is "Positive":

In [19]:
import numpy as np 
np.unique(df_mutations['Group'].values) # CON ESTA FUNCION PODEMOS VER LOS VALORES QUE TIENE LA COLUMNA Group DE LA TABLA df_mutations 
#POR MEDIO DE LA FUNCION np.unique()

array(['Negative', 'Positive'], dtype=object)

In [20]:
a = (df_mutations.loc[:, 'ratio_ref_alt'] > 1) & (df_mutations.loc[:, 'Group'] == 'Positive')
# print(a)
print(a.sum()) # how many are True

1114

la variable a CONTIENE UNA TABLA QUE CUMPLE CON LAS SIGUIENTES CONDICIONES:
1. TODAS LAS HILERAS LAS CUALES LOS ELEMENTOS DE LA COLUMNA 'ratio_ref_alt' SON MAYORES A 1.
2. TODOS LOS ELEMENTOS DE LAS HILERAS Y LA COLUMNA Group SEAN POSITIVOS

AL FINAL QUEREMOS VER CUANTOS ELEMENTOS SUMAN LOS QUE CUMPLEN CON LA CONDICION DE AMBAS COLUMNAS

In [21]:
b = (df_mutations.loc[:, 'ratio_ref_alt'] > 1) & (df_mutations.loc[:, 'Group'] == 'Negative')
print(b.sum())

573

COMO ARRIBA PERO CON ELEMENTOS DE LA COLUMNA GROUP NEGATIVOS

In [23]:
c = (df_mutations.loc[:, 'ratio_ref_alt'] <= 1) & (df_mutations.loc[:, 'Group'] == 'Positive')
print(c.sum())

41

In [22]:
d = (df_mutations.loc[:, 'ratio_ref_alt'] <= 1) & (df_mutations.loc[:, 'Group'] == 'Negative')
print(d.sum())

1158

IGUAL QUE ARRIBA PERO CON LA CONDICION <= 1

**ENEL CODIGO DE ABAJO OBSERVAMOS SI CUBRIMOS TODAS LAS CONDICIONES QUE DIJIMOS ANTERIORMENTE HACIENDO UN TEST**

In [24]:
# Sanity check: check that we covered all cases:
all_cases = [a.sum(), b.sum(), c.sum(), d.sum(), num_nan] # AQUI TENEMOS LA SUMA DE TODAS LAS CONDICIONES INCLUYENDO LAS NAN
assert(sum(all_cases) == len(df_mutations)) # HACEMOS LA REVISION SI EL TEST PASA O NO
print('all_cases: ', all_cases)
print('sum(all_cases): ', sum(all_cases))
print('No. rows of original dataframe: ', len(df_mutations))

all_cases:  [1114, 573, 41, 1158, 73]
sum(all_cases):  2959
No. rows of original dataframe:  2959

In [25]:
df_mutations.to_csv('new_S2.csv') # GUARDAMOS LA TABLA df_mutations CON LOS NUEVOS CAMBIOS QUE HICIMOS(COLUMNAS) EN UN NUEVO ARCHIVO CSV
df_mutations.to_pickle('new_S2.pkl') # GUARDAMOS LA TABLA df_mutations CON LOS NUEVOS CAMBIOS QUE HICIMOS(COLUMNAS) EN UN NUEVO ARCHIVO BINARIO
df_mutations

,Source,Chr,Position,Ref,Alt,Group,Type,Strand,Splice site,Distance,PWM_ref,PWM_alt,PWM_ref_mult,diff_ref_alt,ratio_ref_alt
0,1000G,1,889159,A,C,Negative,Intronic,-,5',3,79.0324,84.5457,158.0648,-5.5133,0.934789
1,1000G,1,982941,T,C,Negative,Intronic,+,3',-12,75.0799,71.7653,150.1598,3.3146,1.046187
2,1000G,1,1891477,A,G,Negative,Intronic,-,3',-8,77.0336,75.2237,154.0672,1.8099,1.024060
3,1000G,1,2528133,T,C,Negative,Intronic,-,3',-5,72.4559,72.4559,144.9118,0.0000,1.000000
4,1000G,1,2541269,A,G,Negative,Exonic,-,3',2,0.0000,0.0000,0.0000,0.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2954,HGMD,X,154221211,C,G,Positive,Exonic,-,5',-1,99.6933,86.3823,199.3866,13.3110,1.154094
2955,SDisease,X,154225243,C,A,Positive,Intronic,-,5',5,86.3702,73.9775,172.7404,12.3927,1.167520
2956,SDisease,X,154225243,C,G,Positive,Intronic,-,5',5,86.3702,73.6742,172.7404,12.6960,1.172326
2957,SDisease,X,154227878,G,A,Positive,Intronic,-,3',-3,86.7436,80.5669,173.4872,6.1767,1.076665
2958,SDisease,X,154227880,G,C,Positive,Intronic,-,3',-5,86.7436,0.0000,173.4872,86.7436,inf

# **INDAGANDO MAS CON NaN**

In [26]:
df_mutations.loc[df_mutations['ratio_ref_alt'].isnull(), ['Group', 'PWM_ref',	'PWM_alt', 'ratio_ref_alt']]

         Group  PWM_ref  PWM_alt  ratio_ref_alt
4     Negative      0.0      0.0            NaN
36    Negative      0.0      0.0            NaN
80    Negative      0.0      0.0            NaN
123   Negative      0.0      0.0            NaN
239   Negative      0.0      0.0            NaN
...        ...      ...      ...            ...
2727  Negative      0.0      0.0            NaN
2728  Negative      0.0      0.0            NaN
2732  Negative      0.0      0.0            NaN
2733  Negative      0.0      0.0            NaN
2735  Negative      0.0      0.0            NaN

[73 rows x 4 columns]

EN EL COMANDO DE ARRIBA HEMOS SELECCIONADO LAS COLUMNAS ['Group', 'PWM_ref','PWM_alt', 'ratio_ref_alt'] Y DE ELLAS ESCOGER SOLAMENTE LAS QUE TENGAN LAS HILERAS NaN

In [27]:
len(df_mutations.loc[df_mutations['PWM_ref'] == 0]) #DE LA TABLA df_mutations ESCOGEMOS LAS  HILERAS CON VALORES 0 ENLA COL PWM_ref. EL RES ES EL No DE HILERAS.

77

In [28]:
len(df_mutations.loc[df_mutations['PWM_alt'] == 0]) #DE LA TABLA df_mutations ESCOGEMOS LAS  HILERAS CON VALORES 0 DE LA COL PWM_alt. EL RES ES EL No DE HILERAS.

135